name: CI with MongoDB

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo:8.0
        ports:
          - 27017:27017
        options: >-
          --health-cmd="mongosh --eval 'db.runCommand({ ping: 1 })'"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      # - name: Install frontend dependencies
      #   working-directory: ./frontend
      #   run: npm install
      # - name: Run frontend tests
      #   working-directory: ./frontend
      #   run: npm test
      #   env:
      #     MONGO_URL: mongodb://localhost:27017/testdb
